* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
  
body {
    
    font-family: 'poppins', sans-serif;
    background-color: #f4c4d0;
    color: white;
}
.primary-button {
    background-color: #a42153;
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px 2px;
    transition: 0.2s ease-out;
    text-align: center;

}
.primary-button:hover{
    background-color: transparent;
    box-shadow: 0 0 20px 5px #fff;
}

.flex {
    display: flex;
    align-items: center;
}



.main-nav {
    justify-content: space-between;
    margin: 0px;
    position: relative;
    /* padding-top: 20px; */
    background-color: #a42153;
   
}
.company-logo{
    padding: 10px 20px;
    text-decoration: underline;
}
.nav-links {
    flex-basis: 730px;
}
.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}
a {
    text-decoration: none;
    display: inline-block;
    color: white;
}
ul {
    list-style: none;
}
li{
    padding: 5px;
}
.banner-logo{
    height: 50px;  
}
/*hero section*/
header.hero {
    background: #f4c4d0;
    padding: 3rem 1rem;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 3rem;
    color: #a42153;
    text-decoration: underline;
  }
  
  .hero p {
    font-size: 1.8rem;
    margin-top: 0.5rem;
    color: #fff;
    font-weight: bold;

}

/* display*/
.poster{
    margin: 20px 40px;
    border: 4px double white;

}
.poster-img img{
    width: 150px;
    margin: 20px;
}
.poster{
    background: #a42150;
    align-items: center;
}
.poster-content{
    padding: 20px;
    text-align: center;
}
.poster-content h2{
    font-size: 2rem;
    padding: 20px;
}
.poster-content p{
    padding: 0 10%;
}
  

/*gallery*/ 
  .gallery img {
    height: 300px;
    width: 250px;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  }
  
  .gallery img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
.gallery{
    background: #f4c4d0;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 40px;
    max-width: 100%;
   
}
.images{
    flex-direction: rows;
    gap: 20px;
    flex-wrap: wrap;
    padding: 15px;
}




/*footer*/
.bos-1 img{
    height: 150px;
}
.footer{
    background-color: #a42153;
    justify-content: space-evenly;
}
.salik{
    margin: 20px;
}
.bos-3{
    padding: 10px;
}
.links{
    color: white;
}
i{
    padding: 4px;
}
/* sub-footer */
.sub-footer{
    background-color: #a42150;
    border: 5px double #cb8fa6;
    flex-direction: column;
    height: 50px;
    justify-content: space-evenly;
}
.last{
    justify-content: space-evenly;
}
.misbah h4 a{
    padding: 20px;
}
